* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.shape {
  background: hsl(252, 92%, 85%);
  width: 300px;
  height: 500px;
}
@keyframes down {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.6);
    border-radius: 250px / 450px;
    background-color: hsl(56, 69%, 67%);
  }
  65% {
    transform: scale(0.4);
    border-radius: 200px / 350px;
    background-color: hsl(252, 92%, 85%);
  }
  85% {
    transform: scale(0.2);
    border-radius: 150px / 250px;
    background-color: hsl(56, 69%, 67%);
  }
  100% {
    transform:scale(0.0);
    border-radius: 150px/ 350px;
  }
}


.content:hover .shape {
  width: 300px;
  height: 500px;
  animation-name: down;
  animation-duration: 5s;
}


.transforms {
  transform: rotateZ(45deg);
  transform: rotateX(45deg);
  transform: rotateY(45deg);
  transform: skewX(45deg);
  transform: skewY(45deg);
  transform: scaleX(1.5);
  transform: scaleY(1.5);
  transform: translateX(50px);
  transform: translateY(50px);
}
